input,
input[type='text'],
input[type='number'],
select,
option,
textarea {
  font-size: 16px;
  font-family: monospace;
}

.App {
  font-family: Helvetica, sans-serif;
  background-color: #f8f8f4;
}

.app-main{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
}

.app-footer{
  text-align: center;
  background-color: black;
  color: white;
  padding:30px 0px;
}

.app-footer-by{
  margin-top: 20px;
  margin-right: 20px;
  font-weight: 600;
}

.app-footer a{
  color: white;
}

.app-footer-post-job{
  background: transparent;
  border: none;
  text-decoration: underline;
  color: white;
  font-size: 0.875em;
  text-transform: uppercase;
  margin-right: 20px;
}

.app-footer-mailto{
  color: lightgray;
  font-size: 0.875em;
  text-transform: uppercase;
}


.app-bar {
  padding: 20px 20px 0px 20px;
  color: black;
}

.app-bar-content{
  max-width: 800px;
  margin-left: auto;
  margin-right: auto;
}

.app-bar-controls {
  margin-top: 10px;
}

@media only screen and (min-width: 768px) {
  .app-bar-controls {
    float: right;
    margin-top: 0px;
  }
}


.app-btn-primary{
  background: none;
  padding: 0px;
  border: none;
  border-radius: 10px;
  color: white;
  font-weight: 600;
  font-size: 1.1em;
}

.app-button{
  background: transparent;
  padding: 5px;
  cursor: pointer;
  border: none;
  padding: 5px;
  text-decoration: underline;
  font-weight: 600;
  font-size: 1em;
}

.app-button .fa-times{
  margin-left: 5px;
}

.App-title {
  font-size: 1.5em;
  margin: 0;
  display: inline-block;
}

.App-description{
  margin: 0;
  font-weight: 400;
  font-size: 0.8em;
  margin-top: 5px;
}

.App-intro {
  font-size: large;
}

.app-icon{
  display: inline-block;
  margin-right: 5px;
  width: 1em;
  height: 1em;
  vertical-align: middle;
}

.search-result {
  width: 100%;
  border-bottom: 1px gray solid;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  padding: 10px  0px;
}

@media only screen and (min-width: 768px) {
  .search-result {
    width: calc(50% - 20px);
    margin-right: 10px;
  }
}

.search-result-meta{
  display: inline-block;
  vertical-align: middle;
}

.app-search-results {
  padding: 10px;
}

.app-search-results-load-more-btn{
  width: 100%;
  text-align: center;
  margin-top: 10px;
  border: none;
  padding: 10px;
  background: transparent;
  cursor: pointer;
  color:black;
  text-decoration: underline;
  font-weight: 600;
}

.app-search-results-aggs-toggle{
  float: right;
  margin: 0;
  border: none;
  font-size: 1.2em;
  padding: 0;
  background: transparent;
  cursor: pointer;
  font-weight: 600;
  color:black;
}

.app-search-results-aggs-toggle:focus{
  outline: none;
}

.app-search-results-aggs{
  display: flex;
  margin-top: 10px;
  flex-wrap: wrap;
  height: 2.2em;
  overflow-y: hidden;
  align-content: space-between;
  align-items: flex-start;
}

.app-search-results-aggs.app-search-results-aggs-all{
  height: auto;
}

.app-search-results-total{
  order: -1000;
  background: transparent;
  font-weight: 600;
}

.app-search-results-aggs-item{
  white-space: nowrap;
  display: inline-block;
  margin-right: 5px;
  padding: 5px 10px;
  background: transparent;
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 5px;
  font-weight: 600;
}

.search-result-logo {
  height: 2em;
  vertical-align: top;
  margin-right: 10px;
}

.search-result-org{
  display: inline-block;
  font-size: 0.75em;
  text-transform: capitalize;
  color: black;
  font-weight: 600;
  vertical-align: top;
}

.search-result-date{
  font-size: 0.75em;
  color: black;
  opacity: 0.7;
}

.search-result-title {
  font-size: 1.2em;
  display: block;
  margin: 10px 0;
  color: black;
}

.search-result-tags{
  margin-bottom:10px;
}

.search-result-tag{
  background: #DDD8C4;
}

.search-result-icons{
  display: flex;
  flex-wrap: wrap;
  max-height: 100px;
  overflow-y: hidden;
  align-items: flex-start;
}

.search-result-tags {
  display: inline-block;
}

.search-result-icon {
  display: inline-block;
  margin-right: 5px;
  padding: 5px;
  background: black;
  color:white;
  order: 300;
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
}

.search-result-icon-match{
  background: rgb(70, 165, 58);
}

.search-result-tag{
 display: inline-block;
  margin-right: 5px;
  padding: 5px;
  background: #DDD8C4;
  border-radius: 3px;
}

.search-form{
  background: black;
  padding: 5px;
  margin-top: 20px;
  overflow-x: hidden;
  width: 100%;
  box-sizing: border-box;
}

.search-form-section {
  width: calc(50% - 5px);
  display: inline-block;
  margin-bottom: 10px;
  padding:5px;
  border-bottom: 1px solid grey;
  margin-right: 10px;
  box-sizing: border-box;
}

@media screen and (max-width: 600px) {
  .search-form-section {
    display: block;
    width: 100%;
  }
}

.search-form-section:last-child {
  margin-right: 0px;
}

.search-form-section-experiance {
  width: 100%;
}

.search-form-section-header{
  text-align: center;
}

.search-form-facet{
  display: inline-block;
  background: none;
  padding: 5px;
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  font-family: monospace;
  color: white; 
  cursor: pointer;
}

.search-form-facet-label {
  display: inline-block;
  margin-right: 5px;
}

.search-form-facet-remove{
  background: none;
  color: white;
  border: none;
  padding: 0px;
  margin: 0px;
  vertical-align: middle;
}

.search-form-section input{
  background: none;
  padding: 5px;
  border: none;
  margin-right: 5px;
  border-radius: 5px;
  font-family: monospace;
  width: 100%;
  color: white;
}

textarea.search-form-input  {
    height: 5em;
    resize: none;

}

@media only screen and (min-width: 768px) {
  textarea.search-form-input  {
    height: 1.5em;
  }
}

.search-form-input  {
  box-sizing: border-box;
  width: 100%;
  background: none;
  color: white;
  border: none;
}

.search-form-input.search-form-input-number{
  width: auto;
}
.app-submit-job-form input::placeholder,
.app-submit-job-form textarea::placeholder,
.search-form-section input::placeholder,
.search-form-section textarea::placeholder{
  font-style: italic;
}

.search-form-hidden{
  display: none;
}

.search-form-btn{
  width: 100%;
}

.app-submit-job{
  margin: 20px 5px;
  padding: 5px;
}

.app-submit-job-form{
  width: 100%;
  box-sizing: border-box;
  display: inline-block;
  padding-bottom: 10px;
  vertical-align: top;
  border-bottom: 1px solid;
}

@media only screen and (min-width: 768px) {
  .app-submit-job-form{
    width: calc(50% - 20px);
    display: inline-block;
    border-right: 1px solid;
    border-bottom: 0;
    padding-right: 10px;
  }
  
  .app-submit-job .search-result{
    margin-left: 10px;
  }
}

.app-submit-job .search-result{
  margin-right: 0px;
}
 
.app-submit-job .search-result-icons{
  height: auto;
}
 
.app-submit-job-form-element{
  display: flex;
  width: 100%;
  padding: 5px;
  margin-bottom: 5px;
  box-sizing: border-box;
  resize: none;
}
.app-submit-job-form-element span{
  margin-right: 5px;
}
.app-submit-job-form-element select{
  flex: 1;
}
textarea.app-submit-job-form-element  {
  height:6em;
}


.app-submit-job-form-cancel{
  margin-right: 5px;
  text-decoration: none;
}

.app-submit-job-form-submit{
  width: calc(70% - 5px);
}
.app-submit-job-form-cancel,
.app-submit-job-form-submit{
  white-space: nowrap;
  display: inline-block;
  padding: 5px 10px;
  background: transparent;
  border-radius: 10px;
  border: solid;
  cursor: pointer;
  margin-bottom: 30px;
  font-weight: 600;
  margin-top: 10px;
  color:black;
}

.app-submit-job .search-result{
  border-bottom: 0;
}

.search-result-placeholder .search-result-logo{
  display: inline-block;
}

.search-result-placeholder .search-result-logo .skeleton{
  width: 4em;
  height: 2em;
}

.search-result-placeholder .search-result-meta .skeleton{
  height: 1em;
  width: 10em;
}

.search-result-placeholder .search-result-meta .search-result-date{
  opacity: 0.3;
}

.search-result-placeholder .search-result-title  .skeleton{
  width: 100%;
}

.search-result-placeholder .search-result-icon .skeleton {
  height: 1.2em;
  width: 5em;
}

.search-result-placeholder .search-result-icon .skeleton {
  background: black;
}

.search-result-placeholder .search-result-icon .skeleton::after {
  background: linear-gradient(90deg, black, rgb(102, 102, 102),black);
}

.app-search-results-aggs-item-placeholder{
  width: 5em;
}

.app-search-results-aggs-item-placeholder .skeleton {
  height: 1.205em;
  width: 100%;
  background: transparent;
}

.app-search-results-aggs-item-placeholder .skeleton::after {
  background: linear-gradient(90deg, transparent, rgba(99, 99, 99, 0.493),transparent);
}


.skeleton {
  position: relative;
  overflow: hidden;
  width: 50%;
  height: 40px;
  background: #ccc;
}
.skeleton::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #ccc, #dedede, #ccc);
  animation: progress 1s ease-in-out infinite;
}
@keyframes progress {
  0% {
    transform: translate3d(-100%, 0, 0);
  }
  100% {
    transform: translate3d(100%, 0, 0);
  }
}
